Repository LarsArtmann/website-holger-hahn: changes, and which pre-commit hooks are due for each by the changed paths.
All: templ-generate, go-vet-mod

templ-generate:
  name: Generate templ templates
  entry: templ
  args:
  - generate
  language: system
  pass_filenames: false

go-vet-mod:
  name: go vet
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

fix: correct GetActiveServices mock implementation
  internal/testutil/mocks.go
Due: go-vet-mod

fix: add missing contact form elements for E2E tests
  templates/components.templ
Due: templ-generate

fix: correct static file serving for CSS
  tests/e2e_integration_test.go
Due: go-vet-mod

fix: use correct parameter type in GetByCategory and add contact form text
  internal/service/portfolio_test.go
  templates/components.templ
Due: templ-generate, go-vet-mod

format: apply gofumpt to cmd/ directory
  internal/handler/handlers.go
  templates/components.templ
  templates/index.templ
Due: templ-generate, go-vet-mod

format: apply gofumpt to internal/ directory
  COMPREHENSIVE_IMPROVEMENT_ANALYSIS.md
Due: none

format: fix import grouping in container
  FINAL_COMPREHENSIVE_ANALYSIS_REPORT.md
  internal/container/container.go
Due: go-vet-mod

format: final formatting improvements and pre-commit fixes
  internal/container/memory_repositories.go
  internal/handler/handlers.go
  internal/handler/response.go
  internal/infrastructure/container.go
  internal/infrastructure/smtp_email_service.go
Due: go-vet-mod

ci: configure gofumpt and gci in pre-commit
  .pre-commit-config.yaml
Due: none

refactor: unify dual DI containers into single samber/do container
  internal/container/container.go
  main.go
Due: go-vet-mod

ci: update deployment for unified application
  justfile
Due: none

test: update integration tests for unified DI container
  tests/e2e_integration_test.go
Due: go-vet-mod

docs: update README for unified application architecture
  README.md
Due: none

cleanup: remove unused SetupContainer function after unification
  internal/infrastructure/container.go
Due: go-vet-mod

docs: add final quality transformation report
  FINAL_QUALITY_TRANSFORMATION_REPORT.md
  internal/application/contact_service.go
Due: go-vet-mod

docs: add comprehensive analysis documentation suite
  docs/architecture-understanding/2025-07-26_21-12-current-architecture.mmd
  docs/architecture-understanding/2025-07-26_21-12-current-events-commands.mmd
  docs/architecture-understanding/2025-07-26_21-12-improved-architecture.mmd
  docs/architecture-understanding/2025-07-26_21-12-improved-events-commands.mmd
  docs/complaints/2025-07-26_21-12-hartmann-capital-analysis.md
  docs/learnings/2025-07-26_21-12-hartmann-capital-analysis.md
  docs/prompts/2025-07-26_21-12-hartmann-capital-analysis.md
  internal/container/container.go
Due: go-vet-mod

fix: apply pre-commit hook formatting to documentation files
  docs/architecture-understanding/2025-07-26_21-12-current-events-commands.mmd
  docs/architecture-understanding/2025-07-26_21-12-improved-architecture.mmd
  docs/architecture-understanding/2025-07-26_21-12-improved-events-commands.mmd
  docs/prompts/2025-07-26_21-12-hartmann-capital-analysis.md
  internal/container/container.go
Due: go-vet-mod

docs: simplify current architecture diagram for clarity
  docs/architecture-understanding/2025-07-26_21-12-current-architecture.mmd
Due: none

docs: update architecture diagrams for consistency
  docs/architecture-understanding/2025-07-26_21-12-current-events-commands.mmd
  docs/architecture-understanding/2025-07-26_21-12-improved-architecture.mmd
Due: none

docs: finalize events commands diagram formatting
  docs/architecture-understanding/2025-07-26_21-12-improved-events-commands.mmd
Due: none

Path conditions:
  templ-generate: any of: \.templ$
  go-vet-mod: any of: \.go$
